@font-face {
    font-family: "roboto-regular";
    src: url(./E4/assets/Roboto-Regular.ttf)
}
@font-face {
    font-family: "roboto-medium";
    src: url(./E4/assets/Roboto-Medium.ttf)
}

body {
    height: 100vh;
    margin: 0%;
    background-color: rgb(241, 241, 241);
    font-family: "roboto-medium";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #1c1c1c;
}

.e-container {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
}

#e1, #e2, #e3, #e4 {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "roboto-medium";
    color: #1c1c1c;
}