@font-face {
    font-family: "roboto-regular";
    src: url(./assets/Roboto-Regular.ttf)
}
@font-face {
    font-family: "roboto-medium";
    src: url(./assets/Roboto-Medium.ttf)
}

body {
    height: 100vh;
    margin: 0%;
    background-color: rgb(241, 241, 241);
    font-family: "roboto-medium";
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase
}

.ponele {
    height: 9vh;
    width: 100vw;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
}

.loguito {
    height: 3.8rem;
    margin-left: 2rem;
}

.text {
    text-align: center;
    font-size: 0.9rem;
    margin: 0rem;
}

.input-container {
    margin: 1rem;
}

.card-container {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    height: 95%;
    width: 31rem;
    border-radius: 2rem;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
    -webkit-box-shadow: 4px 3px 14px 0px rgba(0,0,0,0.31); 
    box-shadow: 4px 3px 14px 0px rgba(0,0,0,0.31);
}

.text-container {
    width: 84%;
    display: flex;
    flex-direction: column;
}

.primer-info{
    display: flex;
    align-items: flex-end;
}

.name {
    margin: 0;
    font-size: 2rem;
    color: rgb(181, 10, 10);
}

.error {
    color: rgb(181, 10, 10);
}

.price {
    margin-bottom: 0.2rem;
    margin-left: 0.4rem;
}

.ingredients {
    margin: 0rem 0rem 1rem 0rem;
    font-family: "roboto-regular";
    align-self: center;
}

.img-contenedor {
    height: 63%;
    width: 84%;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 4px 3px 14px 0px rgba(0,0,0,0.16); 
    box-shadow: 4px 3px 14px 0px rgba(0,0,0,0.16);
}

.imagen-pizza{
    width: 100%;
}

#form-pizza{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input-nombre {
    height: 1.5rem;
    width: 13rem;
}

.btn-submit{
    border-radius: 0.8rem;
    border: none;
    background-color: #1c1c1c;
    color: #eeeeee;
    height: 2.5rem;
    width: 10rem;
    font-size: 1.1rem;
    margin-left: 1rem;
    transition-duration: 0.3s;
    -webkit-box-shadow: 4px 3px 14px 0px rgba(0,0,0,0.31); 
    box-shadow: 4px 3px 14px 0px rgba(0,0,0,0.31);
}

.btn-submit:hover {
    cursor: pointer;
    background-color: #c5c5c5;
    color: rgb(181, 10, 10);
}

.all-container {
    height: 30%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.card-tiny{
    height: 85%;
    width: 13%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e0e0e0;
    border-radius: 0.9rem;
    padding: 0rem 1rem;
    opacity: 0.6;
    transition-duration: 0.3s;
    -webkit-box-shadow: 4px 3px 14px 0px rgba(0,0,0,0.31); 
    box-shadow: 4px 3px 14px 0px rgba(0,0,0,0.31);
}

.card-tiny:hover {
    opacity: 1;
}

.tiny-primer-info {
    display: flex;
}

.tiny-name {
    margin-bottom: 0rem;
    color: rgb(181, 10, 10);
}

.tiny-price {
    font-size: 0.8rem;
    align-self: flex-end;
    margin-left: 0.5rem;
}

.tiny-ingredients {
    font-size: 0.8rem;
}

.tiny-img-contenedor {
    height: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.tiny-img {
    width: 100%;
}

#git {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "roboto-medium";
    color: #1c1c1c;
    margin-bottom: 2rem;
}